.flex {
	

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

a {
	font-family: sans-serif;
	font-size: 24pt;
	border: 2px solid #222222;
	border-radius: 10px;
	background:  lightgreen;
	margin: 15px 10px 15px 10px;
	padding: 3px 5px;
	text-decoration: none;
	box-shadow: rgb(248, 222, 172) 5px 5px 0;
	transition: all 1s ease 0s;
	line-height: 200%;
	color: orchid;
}
div {
	transition: all 0.5s ease 0s;
	position: relative;
	float: left;
	
}
div a:hover  {
	
	background-color: rgb(255, 241, 111); 
	box-shadow: purple 0px 0px 0;
	}
div a:active {
	background-color: #8B008B;
}
/* div:active {

	transform: scale(2, 2);
	transform: rotate(33deg);
} */

/* div:hover  {
	transform: rotateX(45deg);
	transform: translate(5px, 5px);
	
} */
h1 {
	text-align: center;
	font-size: 3em;
}
