.flex {
	

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

a {
	font-family: sans-serif;
	font-size: 24pt;
	border: 2px solid #222222;
	border-radius: 5px;
	background: skyblue;
	margin: 15px 10px 15px 10px;
	padding: 3px 5px;
	text-decoration: none;
	box-shadow: red 5px 5px 0;
	transition: all 1s ease 0s;
	line-height: 200%;
}
div {
	transition: all 1s ease 0s;
	position: relative;
	float: left;
	transition: all 1s ease 0s
}
div a:hover  {
	
	background-color: yellow; 
	box-shadow: red 0px 0px 0;
	}
div a:active {
	background-color: #8B008B;
}
div:active {

	transform: scale(2, 2);
	transform: rotate(33deg);
}

div:hover  {
	transform: rotateX(45deg);
	transform: translate(5px, 5px);
	
}
h1 {
	text-align: center;
	font-size: 3em;
}
