@import url("../css/normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;    
  } 

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
 position: fixed;
 width: 100%;
 height: 100%;  
  top: 0;   
  background:  url(../img/background.jpg) no-repeat fixed center top;
}
@media (max-width: 575px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.section-header {
  position: relative;
}

 .section-header-head {
   font-size: 2.5em;
   line-height: 0.5em;
   text-align: center;
   color: black;   
 }
 @media (max-width: 575px) {
   .section-header-head {
    font-size: 2em;
   }
  }
.nav-wrapper{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
  padding: 0;
}
  .nav-wrapper :not(:first-child) {
    margin-left: 1em;
  }  
.nav-wrapper__item-link {  
  color: black;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: underline transparent;
}

@media (max-width: 575px){
  .nav-wrapper__item-link {
    font-size: 1.4em;
    line-height: 1.7em;
  } 
}

.nav-wrapper__item-link:hover {
  color: rgb(0, 10, 95);  
  text-shadow: 0 0 1rem rgba(155, 5, 255, 0.4);  
  text-decoration: underline rgba(0, 10, 95, 0.6); 
}
main {
  position: relative;
}
.hidden{
  display: none;
}
.section-picture {
  display: flex;
  justify-content: center;  
  height: 100%;
}
.section-picture-item {  
  display: flex;
  justify-content: center; 
}
.swiper-container {
  width: 500px;
  padding-top: 50px;
  padding-bottom: 50px;  
}
@media (max-width: 575px) {
  .swiper-container {
    width: 100%;
  }
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.swiper-slide img {
  display: block;
  width: 80%;
  
}
@media (max-width: 575px) {
  .swiper-slide img{
    width: 100%;
    
  }
}
div.swiper-button-prev, div.swiper-button-next{
top: 40%;
color: teal;
}
@media (max-width: 575px) {
  div.swiper-button-prev, div.swiper-button-next{
    display: none;
  }
}

.gallery-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 575px) {
  .gallery-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .gallery-wrapper-picture{
    display: none;
    }
}

.gallery-wrapper-picture {
  margin: 0 10px;
}

.gallery-wrapper-styles {
  margin: 0 auto;
  max-width: 1200px;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 575px) {
  .gallery-wrapper-styles {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.picture {
 
  margin-top: 1em;
  margin-left: 4em;
  
}
.picture-right{ 
  margin-top: 1em;
  margin-right: 4em;
}
@media (max-width: 575px) {
  .picture-right {
    margin-right: 0;
  }
}

.picture img, .picture-right img {
  max-width: 250px; 
  margin-left: 2em;
}

@media (max-width: 575px) {
  .picture img {
    max-width: 170px;
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .picture-right img {
    max-width: 150px;
    margin-left: 0;
  }
}

.picture-description {
  height: 3em;
  margin-left: 40px;
  
}
@media (max-width: 575px) {
  .picture {
    margin-top: 0;
    margin-left: 0;
  }
  .picture-description {
    margin-left: 0;
  }
  .picture-description-header {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .picture-description-article {
    margin: 0;
  }
}

.picture-description-header {  
  font-size: 2em;
  margin: 0;
}
.picture-description-article {
  font-size: 1.5em;
}

.picture-styles {
  text-align: center;
  color: black; 
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;  
  text-decoration: underline transparent;
}

.picture-styles:hover {
  color: rgb(0, 10, 95);  
  text-shadow: 0 0 1rem rgba(155, 5, 255, 0.4);  
  text-decoration: underline rgba(0, 10, 95, 0.6); 
}

.gallery {
  
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-around;
  margin-top: 0;
  padding-left: 0;
  
}
@media (max-width: 575px) {
  .gallery {
    margin-top: 20px;
  }
}

.preview {
  height: 150px;
  width: auto;
  margin: 20px 40px 10px 0;
}

.art-styles {
  height: 250px;
  width: auto;
  margin: 20px;
}

.empty {
  height: 100px;
}
@media (min-width: 575px) {
  .empty {
    height: 0;
  }
}

hr {
  height: 3px;
  width: 100%;
}

@media (min-width: 575px) {
  hr {
    display: none;
  }
}

.section-footer {
  position: relative;
}
.socials {
  display: flex;
  justify-content: center;  
  margin-left: auto; }

.socials-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center; }
  .socials-wrapper:first-child {
    margin-right: 5px;
  }
  .socials-wrapper__item + .socials-wrapper__item {
    margin-left: 2.5rem; }
  .socials-wrapper__item-link {
    transition: .3s;
  }
  .socials-wrapper__item-link:hover{
    text-shadow: 0 0 1rem rgba(155, 5, 255, 0.6); 
  }
  .socials-wrapper__item-link path {
    fill: #495274;
    transition: 0.2s; }
  .socials-wrapper__item-link:hover path {
    fill: #6188ff; }

    .copyright {
      text-align: center;
      font-size: 0.75rem;      
      margin-top: 1.75rem;      
      color: #757f96; }


