@import url("../css/normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;    
  } 
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
 position: fixed;
 width: 100%;
 height: 100%;  
  top: 0;   
  background:  url(../img/background.jpg) no-repeat fixed center top;
}
@media (max-width: 575px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.section-header {
  position: relative;
}

 .section-header-head {
   font-size: 2.5em;
   line-height: 0.5em;
   text-align: center;
   color: black;   
 }
 @media (max-width: 575px) {
   .section-header-head {
    font-size: 2em;
   }
  }
.nav-wrapper{
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
  padding: 0;
}
  .nav-wrapper :not(:first-child) {
    margin-left: 1em;
  }  
.nav-wrapper__item-link {  
  color: black;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 575px){
  .nav-wrapper__item-link {
    font-size: 1.5em;
    line-height: 2em;
  } 
}

.nav-wrapper__item-link:hover {
  color: rgb(0, 10, 95);  
  text-shadow: 0 0 1rem rgba(155, 5, 255, 0.6);   
}
main {
  position: relative;
}
.section-picture {
  display: flex;
  justify-content: center;  
  height: 100%;
}
.section-picture-item {  
  display: flex;
  justify-content: center; 
}
.swiper-container {
  width: 500px;
  padding-top: 50px;
  padding-bottom: 50px;  
}
@media (max-width: 575px) {
  .swiper-container {
    width: 100%;
  }
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
.swiper-slide img {
  display: block;
  width: 80%;
  
}
@media (max-width: 575px) {
  .swiper-slide img{
    width: 100%;
    
  }
}
div.swiper-button-prev, div.swiper-button-next{
top: 40%;
color: teal;
}
@media (max-width: 575px) {
  div.swiper-button-prev, div.swiper-button-next{
    display: none;
  }
}

.section-footer {
  position: relative;
}
.socials {
  display: flex;
  justify-content: center;  
  margin-left: auto; }

.socials-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center; }
  .socials-wrapper:first-child {
    margin-right: 5px;
  }
  .socials-wrapper__item + .socials-wrapper__item {
    margin-left: 2.5rem; }
  .socials-wrapper__item-link {
    transition: .3s;
  }
  .socials-wrapper__item-link:hover{
    text-shadow: 0 0 1rem rgba(155, 5, 255, 0.6); 
  }
  .socials-wrapper__item-link path {
    fill: #495274;
    transition: 0.2s; }
  .socials-wrapper__item-link:hover path {
    fill: #6188ff; }

    .copyright {
      text-align: center;
      font-size: 0.75rem;      
      margin-top: 1.75rem;      
      color: #757f96; }


